/* color palette
red: #CD4631
green: #32A287
tan: #EBD5B3
off-white: #F0E7D8
black: #333333 */

body {
  background-color: #f0e7d8;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  padding: 0;
  padding-right: 7px;
  margin: 0;
  font-size: 45px;
  font-family: "Long Cang", cursive;
}

@media all and (max-width: 800px) {
  h1 {
    font-size: 36px;
  }
}

.logo-latin {
  margin-left: 25px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .logo-latin {
    margin-left: 15px;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 54px;
  font-family: "Long Cang", cursive;
}

@media all and (max-width: 800px) {
  h2 {
    font-size: 43px;
  }
}

.logo-hanzi {
  margin-left: 25px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .logo-hanzi {
    margin-left: 15px;
  }
}

.lantern {
  width: 100px;
  margin-right: 75px;
  float: right;
}

@media all and (max-width: 800px) {
  .lantern {
    width: 70px;
    margin-right: 15px;
  }
}

.header-left {
  display: flex;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 36px;
}

@media all and (max-width: 800px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  margin: 5px;
  font-size: 16px;
}

.app {
  display: flex;
}

.learn {
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 40px;
}

.header-item {
  font-size: 30px;
  margin-right: 40px;
  margin-top: 10px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .header-item {
    display: none;
  }
}

.hamburger-icon {
  width: 35px;
  margin-top: 12px;
  float: right;
}

@media all and (min-width: 800px) {
  .header-menu {
    display: none;
  }
}

.game {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media all and (min-width: 800px) {
  .game {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    width: 100%;
  }
}

.china-background {
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media all and (min-width: 800px) {
  .china-background {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1;
  }
}

.start-game {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.leaderboard,
.loading {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  width: 65%;
}

@media all and (min-width: 800px) {
  .loading {
    width: 100%;
  }
}

.leaderboard-header {
  text-align: center;
  margin-bottom: 15px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-right: 30px;
}

.player-name {
  text-align: left;
}

.gameplay,
.gameresults {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.gameplay {
  margin-top: 40px;
}

.gameresults {
  margin-top: 100px;
}

@media all and (max-width: 800px) {
  .gameresults {
    margin-top: 40px;
  }
}

.gameresults {
  padding-left: 15%;
  padding-right: 15%;
}

.audio-icon {
  width: 50px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .audio-icon {
    width: 36px;
  }
}

.game-header {
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.last-question-info {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.last-question {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.score-summary {
  display: block;
}

.current-score {
  font-size: 36px;
}

.timer {
  font-size: 36px;
}

@media all and (max-width: 800px) {
  .timer {
    font-size: 30px;
  }
}

.timer-div {
  width: 100px;
  height: 72px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 800px) {
  .timer-div {
    width: 75px;
    height: 54px;
  }
}

.question {
  font-size: 36px;
}

.question-div {
  width: 52px;
  height: 72px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.choices {
  display: flex;
  max-width: 600px;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  color: white;
  background: #cd4631;
  border-radius: 10px;
  width: 100px;
  height: 75px;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 800px) {
  .choice {
    width: 60px;
    height: 54px;
    font-size: 22px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 3px;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.1),
      0 2px 6px rgba(0, 0, 0, 0.2);
  }
}

.choice:active {
  box-shadow: none;
}

.button {
  background: #cd4631;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 12px;
  height: 60px;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  display: block;
  cursor: pointer;
}

@media all and (min-width: 800px) {
  .button {
    font-size: 36px;
    border-radius: 15px;
    height: 75px;
    width: 250px;
    margin-top: 60px;
  }
}

.button:active {
  background-color: #cd4631;
  transform: translateY(4px);
  box-shadow: none;
}

.save-button {
  background: #cd4631;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.14);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  height: 45px;
  width: 150px;
  margin: 30px;
  margin-left: 15px;
  outline: none;
  display: block;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .save-button {
    font-size: 16px;
    height: 40px;
    width: 120px;
    margin: 25px;
    margin-left: 10px;
  }
}

.save-button:hover {
  background-color: #cd4631;
}

.save-button:active {
  background-color: #cd4631;
  transform: translateY(4px);
  box-shadow: none;
}

.save-input {
  width: 150px;
  height: 45px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 30px;
  margin-right: 15px;
  padding-left: 5px;
  outline: none;
}

@media all and (max-width: 800px) {
  .save-input {
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin: 25px;
    margin-right: 10px;
  }
}

.save-score {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.load-screen {
  margin-top: 10000px;
}

.hanzi {
  font-size: 30px;
}

.tone-examples {
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.tone-chart {
  max-width: 800px;
  width: 70%;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
